@media(min-width:601px){

    *{
        margin: 0;
        padding: 0;
    }
    body{
        width: 100%;
        height: 100%;
    }
    main{
        width: 98%;
        height: 1000px;
        background: rgb(255, 255, 255);
        margin: 0 1%;
        padding: 10px 1%;
    }
    

    /*Títulos*/

    h1{
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        color: rgb(212,0, 85);
        margin-top: 5px;
    }

    h2{
        font-size: 16px;
        color: #fff;
    }
    #oqo{
        color: rgb(255, 0, 0);
        text-align: center;
    }
    header{
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    nav{
        display: block;
        width: 60%;
        height: 50px;
        margin: 0 20%;
    }

    ul{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: flex-end;
    }

    li{
        width: 70%;
        height: 20px;
        list-style-type: none;
        text-align: center;
        margin: 0;
    }
    li:hover{
        width: 70%;
        height: 20px;
        list-style-type: none;
        text-align: center;
        margin: 0;
    }
    a{
        text-decoration: none;
        color: #ff0000;
        font-size: 17px;
    }
    a:hover{
        color:#000000;
    }
    img#contzap{
       display: none;
    }
    img#brgr{
        display: none;
    }
    #zaptwo{
        width: 60px;
    }
    #banner{
        width: 100%;
    }


    .servico{
        width: 94%;
        height:37vh;
        background: #ffedf8;
        border-radius: 4px;
        margin: 25px 3% 0 3%;
    }

    .item{
        width: 40%;
        height: 35px;
        margin: 10px 30%;
        background: rgb(255, 0, 0);
        color:#fff;
        text-align: center;
        border-radius: 10px;
        padding-top: 5px;
    }

    .itemtwo{
        width: 80%;
        height: 35px;
        margin: 20px 10% 150px 10%;
        color:#ff5454;
        text-align: center;
        border-radius: 10px;
        padding-top: 5px;
    }
    .itemtwo #zaptwo{
       display: none;
    }
    .itemtwo p{
        display: none;
    }

    .valores{
        width: 600px;
        height: 20vh;
        margin: 0 auto;
        border-radius:  6px;
        padding: 0 30px;
    }

    .valores p{
        color:#272727;
        text-align: center;
    }
    .promocao{
        width: 100%;
        height: 55vh;
        background-color: rgba(0, 0, 0, 0.4);
        margin: -30px 0 0 0;
        border-radius:  6px;
        padding: 10px;
        box-sizing: border-box;
    }
    .promocao h2{
        font-size: 50px;
        text-align: center;
    }
    .promocao #banner{
        width: 60%;
        margin: 0 20%;
        box-shadow: 2px 4px 4px #555555;
    }

    #avatar{
        width: 100%;
        height: 40vh;
        margin: 40px 0;
    }
    #avatar img{
        width: 20%;
        margin: 0 40%;
    }
    /*Sobre*/
    .conheca{
        color:#ff5454;
        text-align: center;
        margin: 60px 0 0 0;
    }
    .comeco-prof{
        width: 70%;
        margin: -80px 15%;
        padding: 10px 10px;
    }
    .comeco-prof p{
        color: #464646;
    }
    .comeco-hei{
        height: 900px;
    }

    .comeco-prof h2{
        color: #ff5454;
    }

    /*Parte da página redes.html*/

    .redes{
        width: 100%;
        height: 40vh;
        background: #ffffff;
        padding: 10px;
        border-radius: 6px;
    }
    .redes p{
        color:#474747;
    }

    .icons{
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 50px;
    }
    .icons img{
        width: 60px;
    }



    /* Contato.html*/

    #wts{
        display: flex;
        width: 60%;
        height: 40px;
        background-color: #37af33;
        color:#fff;
        font-weight: bolder;
        font-size: 18px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin: 0 20%;
    }
    a p {
        color:#37af33;
        font-weight: bold;
    }

    #wts:hover{
        display: flex;
        width: 60%;
        height: 40px;
        background-color: #4fa300;
        color:#fff;
        font-weight: bolder;
        font-size: 18px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin:0 20%;
    }


    .rdp{
        width: 98%;
        height:60px;
        color:#fff;
        position: fixed;
        bottom:0;
        left:0;
        background: #000000;
        margin: 0 1%;
        border-top: 2px solid #fff;
    }
    .rdp p{
        font-size: 14px;
        text-align: center;
    }

}